#textdomain wesnoth-AoDH

#define TRAIT_MONOLITH_MUSTHAVE
    [trait]
        id=Monolith_Trait
        availability="musthave"
        male_name= _ ""
        female_name= _ ""
        description= _ ""
    
        [effect]
            apply_to=status
            add=unpoisonable
        [/effect]
        [effect]
            apply_to=status
            add=undrainable
        [/effect]
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
        [effect]
            apply_to=status
            add=unhealable
        [/effect]
        [effect]
            apply_to=status
            add=petrified
        [/effect]
    [/trait]
#enddef

#define ABILITY_MONOLITH
    [dummy]
        id=Monolith
        name= _ "monolith"
        description= _ "This unit is invulnerable to normal attacks. It can only be destroyed vie Tributes captured by its minions."
    [/dummy]
#enddef





    
